html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  --blue__highlight: #1b2c4a;
  --blue__highlight_transparent: rgba(27,44,58,0.45);
  --white__background: #ffffff;
  --font-family-text: 'Merriweather', serif;
  --font-family-heading: 'Archivo Narrow', sans-serif;
  background-color: var(--white__background);
}

p, td {
  font-family: var(--font-family-text);
}

.navbar{
  background-color: var(--white__background);
}
.mainHeading {
  margin-top: 25vh;
  font-size: 4rem;
  font-family: var(--font-family-heading);
}

.cardHeading {
  font-family: var(--font-family-heading);
}

.subHeading {
  line-height: 2;
  font-family: var(--font-family-text);
}
section{
  margin-top: 3rem;
}
.section__heading {
  text-align: center;
  font-family: var(--font-family-heading);
}

.image__offset{
  margin-top: 25vh;
}
.specialization {
  padding: 2rem;
  background-color: var(--white__background);
}


.bottom__border {
  padding: 1rem;
  margin: .5rem;
  border-bottom: 1px solid var(--blue__highlight);
}

.remove {
  border: none;
  outline: none;
  width: 100%;
}

.remove:invalid {
  border: none;
  outline: none;
  box-shadow: none;
}

.remove:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.remove:active {
  border: none;
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none !important;
  font-family: var(--font-family-text);
}

button {
  font-family: var(--font-family-text);
}

a:hover {
  text-decoration: none !important;
}

.btn__action {
  padding: 10px;
  margin-top: 10px;
  color: var(--blue__highlight);
  border: 2px solid var(--blue__highlight);
  background-color: var(--white__background);
}

.btn__action__outline__rounded {
  padding: 10px;
  margin-top: 10px;
  border-radius: 50%;
  color: var(--blue__highlight);
  border: 2px solid var(--blue__highlight);
  background-color: var(--white__background);
}

.btn__action:hover {
  color: var(--blue__highlight);
  border-radius: 10px 0px 10px 0px;
}

.btn__submit {
  float: right;
}
.cardIcons{
  font-size: 5rem;
}

.specialization{
  min-height: 50vh;
  background-image: 
    linear-gradient(
      rgba(27, 44, 150, 0.45), 
      rgba(0, 0, 255, 0.45)
    ),
    url('./assets/center_background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.specialization-card{
  background-color: var(--white__background);
}
.footer{
  background-color: #111111;
}
