html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  --blue-highlight: #1b2c4a;
  --blue-highlight_transparent: rgba(27,44,58,0.45);
  --white-background: #ffffff;
  --font-family-text: 'Roboto', sans-serif;
  --font-family-heading: 'Times New Roman', serif;
  background-color: var(--white-background);
}

p, td {
  font-family: var(--font-family-text);
  font-size: 14px;
}

.navbar{
  background-color: var(--white-background);
}
.mainHeading {
  margin-top: 25vh;
  font-size: 4rem;
  font-family: var(--font-family-heading);
}

.cardHeading {
  font-family: var(--font-family-heading);
}
.side-menu-icon{
  position: fixed;
  right: 90px;
  padding: 2rem;
}
.side-menu-icon input{
  /* display: none; */
}

.side-menu-options{
  position: fixed;
  right: 10px;
  padding: 2rem;
}
.subHeading {
  line-height: 2;
  font-size: 16px;
  font-family: var(--font-family-text);
}
section{
  margin-top: 3rem;
}
.section-heading {
  text-align: center;
  font-family: var(--font-family-heading);
}

.image-offset{
  margin-top: 25vh;
}
.specialization {
  padding: 2rem;
  background-color: var(--white-background);
}


.bottom-border {
  padding: 1rem;
  margin: .5rem;
  border-bottom: 1px solid var(--blue-highlight);
}

.remove {
  border: none;
  outline: none;
  width: 100%;
}

.remove:invalid {
  border: none;
  outline: none;
  box-shadow: none;
}

.remove:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.remove:active {
  border: none;
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none !important;
  font-family: var(--font-family-text);
}

button {
  font-family: var(--font-family-text);
}

a:hover {
  text-decoration: none !important;
}

.btn-action {
  padding: 10px;
  margin-top: 10px;
  color: var(--blue-highlight);
  border: 2px solid var(--blue-highlight);
  background-color: var(--white-background);
}

.btn-action-outline-rounded {
  padding: 10px;
  margin-top: 10px;
  border-radius: 50%;
  color: var(--blue-highlight);
  border: 2px solid var(--blue-highlight);
  background-color: var(--white-background);
}

.btn-action:hover {
  color: var(--blue-highlight);
  border-radius: 10px 0px 10px 0px;
}

.btn-submit {
  float: right;
}
.cardIcons{
  font-size: 5rem;
}

.specialization{
  min-height: 50vh;
  background-image: 
    linear-gradient(
      rgba(27, 44, 150, 0.45), 
      rgba(0, 0, 255, 0.45)
    ),
    url('./assets/center_background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
/* media queries hide-show */
/* end of media queries hide-show */
.specialization-card{
  text-align: center;
  background-color: var(--white-background);
}
.footer{
  background-color: #111111;
}



/* side menu */
.control-me {
  /* Default state */
  display: none;
}

#toggle{
  display:none;
}

#menu-icon{
  position: fixed;
  right: 160px;
  padding: 2rem;
}

#toggle:checked ~ .control-me {
  /* A toggled state! No JavaScript! */
  display: block;
  position: fixed;
  top: 200px;
  right:10px;
  background-color: black;
}


/* side menu end */